{% extends 'base.html' %}
{% block navbarImage %}
<img src="{{ user['pfp']['image_path'] }}" width="48px" height="48px" style="border-radius: 50%; object-fit: cover;">
{% endblock %}
{% block offcanvasNavbarHeader %}
<span class="offcanvas-title">
    <h5 id="offcanvasNavbarLabel">{{ user['name'] }}
        {% if user['role']['id'] == 1 %}
        <span class="badge text-bg-primary">ADMIN</span>
        {% endif %}
    </h5>
    {{ user['username'] }}
</span>
{% endblock %}
{% block offcanvasNavbarBody %}
<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/profile/{{ user['id'] }}">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/preferences">Preferences</a>
    </li>
    {% if user['role']['id'] == 1 %}
    <li class="nav-item">
        <a class="nav-link" href="/logs">Audit logs</a>
    </li>
    {% endif %}
</ul>
{% endblock %}
{% block offcanvasNavbarFooter %}
<div class="card-body bg-body-secondary">
    <form action="/logout">
        <button class="btn btn-outline-danger" type="submit">Log out</button>
    </form>
</div>
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Home</li>
{% endblock %}

{% block content %}
<h1 class="text-center text-white mx-auto m-3 p-3 shadow bg-body bg-opacity-25 rounded" style="max-width: fit-content;">Welcome back, {{ user['name'] }}</h1>
{% if user['role']['id'] == 1 %}
<div class="card m-5 col-sm-8 min-vw-50 justify-content-center mx-auto" style="min-width: fit-content; max-width: max-content;">
    <div class="card-header">
        <h1 class="card-title" id="userCounter">Users (0)</h1>
    </div>
    <div class="users d-flex flex-column">
        users here
    </div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    setTheme("{{ user['theme'] }}");
</script>
{% if user['role']['id'] == 1 %}
<script type="text/javascript">
    (async() => await fetchUsers())();
</script>
{% endif %}
{% endblock %}