{% extends 'base.html' %}
{% block navbarImage %}
{% if not user['pfp'][1] %}
<img src="{{ url_for('static', filename='assets/placeholder.jpg') }}" width="48px" height="48px" style="border-radius: 50%; object-fit: cover;">
{% else %}
<img src="data:image/{{ user['pfp'][0] }};base64,{{ user['pfp'][1] }}" width="48px" height="48px" style="border-radius: 50%; object-fit: cover;">
{% endif %}
{% endblock %}
{% block offcanvasNavbarHeader %}
<span class="offcanvas-title">
    <h5 id="offcanvasNavbarLabel">{{ user['name'] }}</h5>
    {{ user['username'] }}
</span>
{% endblock %}
{% block offcanvasNavbarBody %}
<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/preferences">Preferences</a>
    </li>
</ul>
{% endblock %}
{% block offcanvasNavbarFooter %}
<div class="card-body bg-body-secondary">
    <form action="/logout">
        <button class="btn btn-outline-danger" type="submit">Log out</button>
    </form>
</div>
{% endblock %}

{% block content %}
<h1 class="text-center mt-5 p-3">Welcome back, {{ user['name'] }}</h1>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    setTheme("{{ user['theme'] }}");
</script>
{% endblock %}